<%- include('./partials/header')%>



    <body>
        <div class="container">
            <h1>Cadastro</h1>

            <h1>Erro</h1>
        </div>
    </body>

    <%- include('./partials/footer')%>